body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-section {
  padding: 100px 10%;
  background: #f8f8f8;
}

.contact-title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
}

.underline {
  width: 70px;
  height: 4px;
  background: #1a36c4;
  margin: 12px auto 50px auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info p {
  margin-bottom: 18px;
  font-size: 16px;
  color: #444;
}

.contact-form form {
  width: 100%;
}

/* 2 ô nằm ngang */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.row input {
  flex: 1;
}

/* input chung */
.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

/* textarea */
.contact-form textarea {
  height: 150px;
  resize: none;
  margin-bottom: 25px;
}

/* button giữa */
.btn-center {
  text-align: center;
}

.contact-form button {
  padding: 12px 40px;
  border-radius: 30px;
  border: none;
  background: #5da9dd;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #3c8bc0;
}